/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #292929;
}

/* REUSABLE */

.container {
  width: 80%;
  margin: 0 auto;
}

/* HEADER */
header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: #ff6900;
  padding: 10px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.flex-top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* NAV LIST */
.nav-list {
  display: flex;
  gap: 10px;
  list-style: none;
}

li a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
/* ------------------------ */

/* HEADER ICONS */
.header-logo img {
  height: 32px;
}

.header-icons a {
  color: #fff;
  margin-right: 10px;
}

.header-icons a:last-child {
  margin: 0;
}

/* MAIN */
main {
  padding-top: 100px;
}

.products {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

/* PRODUCTS DESIGN*/
.product {
  width: calc(100% / 3 - 20px);
  position: relative;
  color: #292929;
  text-decoration: none;
  /* debug */
  /* background-color: lightgray;
  min-height: 600px; */
}

.product img {
  width: 100%;
}

.brand-name {
  font-size: 14px;
  font-weight: 400;
}

.product-description {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
}

.current-price {
  color: red;
  font-size: 14px;
  font-weight: 600;
}

.full-price {
  font-size: 14px;
  text-decoration: line-through;
}

/* LABELS SECTION */

.labels {
  color: #fff;
  position: absolute;
  bottom: 100px;
  left: 0;
}

.discount-label {
  background-color: red;
  padding: 4px 8px;
}

.sustainability-label {
  background-color: green;
  padding: 4px 8px;
}
/* ------------------- */

.favorite-button {
  position: absolute;
  top: 40px;
  right: 0;
  font-size: 24px;
  border: none;
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
}
